In [1]:
# Agrupando com K-Means

import numpy as np

A = np.array([165, 55, 70])
B = np.array([185, 60, 30])

D = (A - B)
D = D**2
D = np.sqrt(np.sum(D))
print(D)

45.0

In [10]:
from sklearn.datasets import load_digits
digits = load_digits()
X = digits.data
ground_truth = digits.target

In [11]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
pca = PCA(n_components=30)
Cx = pca.fit_transform(scale(X))
print('Explained variance %0.3f' 
      % sum(pca.explained_variance_ratio_))

Explained variance 0.893

In [13]:
# Se você estiver lendo o livro versão de bolso, teremos apenas esse código abaixo, sendo necessário copiar os 2 anteriores para que o 
# Cx que está dentro do FIT funcione da forma como espera

from sklearn.cluster import KMeans
k = 10
clustering = KMeans(n_clusters=k, 
                    n_init=10, random_state=1)
clustering.fit(Cx)
kmeans_inertia = clustering.inertia_

print("K-Means inertia: %0.1f" % kmeans_inertia)

K-Means inertia: 57871.2

In [14]:
from sklearn.cluster import MiniBatchKMeans
batch_clustering = MiniBatchKMeans(n_clusters=k, random_state=1)

batch = 100
for row in range(0, len(Cx), batch):
    if row + batch < len (Cx):
        feed = Cx[row:row+batch,:]
    else:
        feed = Cx[row:,:]
    batch_clustering.partial_fit(feed)
batch_inertia = batch_clustering.score(Cx) * -1

print("MiniBatchKMeans inertia: %0.1f" % batch_inertia)

MiniBatchKMeans inertia: 61373.2

C:\Users\thiag\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\cluster\_kmeans.py:1930: FutureWarning: The default value of `n_init` will change from 3 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=3)

In [18]:
import numpy as np
import pandas as pd
from sklearn.cluster import AgglomerativeClustering
Hclustering = AgglomerativeClustering(n_clusters=10,
                                      affinity='euclidean',
                                      linkage='ward')

Hclustering.fit(Cx)
ms = np.column_stack((ground_truth, Hclustering.labels_))
df = pd.DataFrame(ms, columns = ['Ground truth', 'Clusters'])

pd.crosstab(df['Ground truth'], df['Clusters'], margins = True)

C:\Users\thiag\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\cluster\_agglomerative.py:1005: FutureWarning: Attribute `affinity` was deprecated in version 1.2 and will be removed in 1.4. Use `metric` instead
  warnings.warn(

Clusters        0    1    2  3    4    5    6    7    8   9   All
Ground truth
0               0    0    0  0    0  178    0    0    0   0   178
1               1   27  154  0    0    0    0    0    0   0   182
2               0  165   10  1    0    0    0    1    0   0   177
3               6    5   13  0    0    0    0  159    0   0   183
4               1    0    7  1  161    0    0    0    0  11   181
5             166    1    1  0    0    0    2   12    0   0   182
6               0    0    0  0    0    0  181    0    0   0   181
7               1    0    1  0    0    0    0    0  169   8   179
8               0    6  166  0    0    0    1    1    0   0   174
9               0    0   30  0    0    0    1  143    2   4   180
All           175  204  382  2  161  178  185  316  171  23  1797